**Problem Statement:**
Predict the likelihood of an individual passing a government job eligibility exam based on their education level and years of experience.

**Data:**
Suppose we have data from a government job recruitment agency consisting of the following attributes for a sample of candidates:

- Education Level (categorical): High School, Bachelor's, Master's, Ph.D.
- Years of Experience (continuous): Number of years of relevant work experience.
- Passed Exam (binary): Whether the candidate passed the eligibility exam (1 for passed, 0 for failed).

**Example Dataset:**

| Education Level | Years of Experience | Passed Exam |
|-----------------|---------------------|-------------|
| High School     | 2                   | 0           |
| Bachelor's      | 4                   | 1           |
| Master's        | 6                   | 1           |
| Ph.D.           | 8                   | 1           |
| Bachelor's      | 3                   | 0           |
| High School     | 1                   | 0           |
| Master's        | 5                   | 1           |
| Ph.D.           | 7                   | 1           |
| Bachelor's      | 2                   | 0           |


1. **Data Preprocessing:**
   - Encode the categorical variable (Education Level) using one-hot encoding.
   - Split the dataset into features (Education Level and Years of Experience) and target variable (Passed Exam).

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import random
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
# Define the rules for generating the dataset
education_levels = ['High School', 'Bachelor\'s', 'Master\'s', 'Ph.D.']
years_of_experience = list(range(1, 11))

def pass_exam(education, experience):
    if education == 'Ph.D.':
        return 1 if experience > 3 else 0
    elif education == 'Master\'s':
        return 1 if experience > 4 else 0
    elif education == 'Bachelor\'s':
        return 1 if experience > 5 else 0
    else:  # High School
        return 1 if experience > 7 else 0

# Generate the dataset
data = {
    'Education Level': [],
    'Years of Experience': [],
    'Passed Exam': []
}

for _ in range(100):
    education = random.choice(education_levels)
    experience = random.choice(years_of_experience)
    passed = pass_exam(education, experience)
    
    data['Education Level'].append(education)
    data['Years of Experience'].append(experience)
    data['Passed Exam'].append(passed)

df = pd.DataFrame(data)

In [9]:
df

   Education Level  Years of Experience  Passed Exam
0         Master's                    7            1
1            Ph.D.                    9            1
2         Master's                    2            0
3       Bachelor's                    8            1
4      High School                    7            0
..             ...                  ...          ...
95        Master's                    3            0
96      Bachelor's                    1            0
97        Master's                    2            0
98     High School                    2            0
99      Bachelor's                    3            0

[100 rows x 3 columns]

In [4]:
# One-hot encoding for categorical variable (Education Level)
encoder = OneHotEncoder()
encoded_education = encoder.fit_transform(df[['Education Level']]).toarray()

In [7]:
#education_levels = ['High School', 'Bachelor\'s', 'Master\'s', 'Ph.D.']

In [6]:
pd.DataFrame(encoded_education)

      0    1    2    3
0   0.0  0.0  1.0  0.0
1   0.0  0.0  0.0  1.0
2   0.0  0.0  1.0  0.0
3   1.0  0.0  0.0  0.0
4   0.0  1.0  0.0  0.0
..  ...  ...  ...  ...
95  0.0  0.0  1.0  0.0
96  1.0  0.0  0.0  0.0
97  0.0  0.0  1.0  0.0
98  0.0  1.0  0.0  0.0
99  1.0  0.0  0.0  0.0

[100 rows x 4 columns]

In [10]:
# Combine encoded features with continuous variable (Years of Experience)
X = pd.concat([pd.DataFrame(encoded_education), df['Years of Experience']], axis=1)

# Target variable
y = df['Passed Exam']

In [11]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
# Standardize features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

2. **Model Training:**
   - Train a logistic regression model on the training data to predict the likelihood of passing the exam based on education level and years of experience.

In [14]:
# Initialize and train logistic regression model
model = LogisticRegression()
model.fit(X_train_scaled, y_train)

LogisticRegression()

In [15]:
# Make predictions on the testing set
y_pred = model.predict(X_test_scaled)

3. **Model Evaluation:**
   - Evaluate the performance of the trained model using metrics like accuracy, precision, recall, and F1-score.
   - Assess the model's ability to correctly predict exam outcomes for new candidates.

In [16]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Confusion Matrix:')
print(conf_matrix)
print('Classification Report:')
print(class_report)

Accuracy: 1.0
Confusion Matrix:
[[10  0]
 [ 0 10]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00        10

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

4. **Interpretation:**
   - Analyze the coefficients of the logistic regression model to understand the impact of education level and years of experience on the likelihood of passing the exam.
   - Interpret the results and provide recommendations to government agencies for improving recruitment strategies.